
<div class="modal-content">
    <div class="modal-header modal-header-primary">
      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
      	<h2><i class="fas fa-list-alt"></i> Agregando lista de precios</h2>
    </div>
    	<%= render 'form', client_price_list: @client_price_list %>
</div>

