<h1>Editing Payment Type Bank Account</h1>

<%= render 'form', payment_type_bank_account: @payment_type_bank_account %>

<%= link_to 'Show', @payment_type_bank_account %> |
<%= link_to 'Back', payment_type_bank_accounts_path %>
