
	
<h2 class=""><i class="fas fa-donate"></i> Pago con cheque</h2>
	<div class="modal-body">
		<%= render 'form', check_payment: @check_payment %>	
	<%= link_to 'Back', check_payments_path %>
	</div>

