<div class="modal-content">
    <div class="modal-header modal-header-success" style="background: #00bcd4; color: white;">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;"> [ × ] </button>
       <h4 class="modal-title" style="font-weight: 800;"><i class="fas fa-exchange-alt"></i> Transferencia de Fondos Internas </h4>
    </div>
    <%= render 'form', account_transfer: @account_transfer %>
</div>
