<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#iprofile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true"><span><i class="far fa-money-bill-alt"></i></span> Tipo de Cambio</a></li>    
</ul>
<div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="iprofile">
              <div class="col-md-12 col-sm-12">                                      
                 <div class="white-box">
                    <div class="table-responsive" id="currency_rates_id">                        
                      <%= render partial: 'currency_rates/index', locals: { currency: @currency, show_actions: true } %>
                     </div>  
                     <hr>
                      <%= link_to "Añadir taza", new_currency_rate_path(currency_id: @currency.id), remote: true, class: "btn btn-info pull-right" %>           
                  </div>
                </div>
           <div class="clearfix"></div>
		 </div>      
</div>


