<div class="panel panel-inf">
  <div class="panel-head">Detalles del Inventario</div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
      <div class="panel-body table-responsive ">
        <%= render partial: 'layouts/partials/search_form', locals: { search_entity: 'inventory_items', word: "Detalle", url: '', view_list:'',view_kamback: ''} %>
             <%= render partial: 'results_search_list' %>
             
       
    </div>  
  </div>
  </div>

















