
<div class="modal-content">
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
        <h2><i class="  far fa-hand-point-down"></i> Estableciendo Propiedades ...! </h2>
    </div>
		<%= render 'form', stock: @stock %>
</div>





