    <div class="row">
           <div class="col-lg-1"> </div>
                  <div class="col-lg-10 panel panel-info">
                   <div class="white-box">
                    <div class="">
                        <%= render 'shower', price_list: @price_list %>
                         <%= render 'price_list_access', items: @items, price_list: @price_lis %>

                    </div>
                  </div>
                </div>
              <div class="col-lg-1">
              </div>
    </div>

