
<div class="panel panel-inf">
	<div class="panel-head">Nuevo Contacto</div>
	  <div class="panel-wrapper collapse in" aria-expanded="true">
	  	<div class="panel-body">
	  	  <div class="form-body">
	  	  	 <h3 class="box-title">Información Basica del contacto</h3><hr>
		       <%= render 'form', contact: @contact %>
	
	      </div>
		</div>
 	</div>
  </div>
