

<div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
                    <h2><i class="fas fa-box"></i>   Nueva linea de productos </h2>
                </div>
<%= render 'form' %>
</div>