<div class="panel panel-inf">
  <div class="panel-head">Compañias</div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
      <div class="panel-body table-responsive ">
        <%= render partial: 'layouts/partials/search_form', locals: { search_entity: 'companies', word: "Compañia", view_kamback: '', view_list: '', url: '', ban: false, url_pdf:'', url_xls:'',url_csv:''  } %>
           <%= render partial: 'results_search' %>
          <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
            <p>
              <%= button_to new_company_path, {method: :get, class: "btn btn-success"} do %>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nueva Compañia
              <% end %>
            </p>
          </div>
    </div>  
  </div>
  </div>




















