
<div class="modal-content">
    <div class="modal-header modal-header-success">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
        <h2><i class=" fas fa-eye-dropper"></i> Registro de gastos. </h2>
      </div>
   
      	<%= render 'form', account_expense: @account_expense %>
   
</div> 