
<div class="modal-content">
  <div class="modal-header modal-header-success">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
      <h2><i class=" fab fa-cc-mastercard"></i>   Editando Cuenta</h2>
  </div>
    <%= render 'form', bank_account: @bank_account %> 
</div>