<div class="modal-content">
  <div class="modal-header modal-header-primary">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
        <h2><i class="far fa-money-bill-alt"></i>   Editando taza</h2>
  </div>
  		<br>
  			<%= render 'form' %>
  		
		
</div>
