<div class="modal-content-payment">
  <div class="modal-header modal-header-success">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
    <h2><i class="far fa-money-bill-alt"></i> Nuevo Pago</h2>
</div>
<div class="modal-body">
	<div class="alert alert-danger center"><h1> ¡El recibo ya fue cancelado... !</h1></div>
</div>
</div>