<% if @check %>

<div class="modal-content">
    <div class="modal-header modal-header-primary">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
    	<h2><i class="fas fa-box"></i>   Establecer precio </h2>
	</div>
		<%= render 'form', price: @price %>
</div>

<% else %>

<div class="modal-content">
    <div class="modal-header modal-header-primary">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
    	<h2><i class="fas fa-box"></i>   Nuevo Precio </h2>
	</div>
    
    <%= render 'form', price: @price %>

</div>

<% end %>