<div class="panel panel-success">
  <div class="panel-head">Nuevo tipo de pagos</div>
	<div class="modal-body blu">       
  		<div class="row">
  			<%= render 'form', payment_type: @payment_type %>
  		</div>
  	</div>
  </div>