
        <div class="row">
           <div class="col-lg-1"> </div>
                  <div class="col-lg-10 panel panel-info">
                   <div class="white-box">
                    <div class="">
                        <%= render 'form', item: @item %>



                    </div>
                  </div>
                </div>
              <div class="col-lg-1">
              </div>
        </div>


