<h1>Editing Box Purchase Order Payment</h1>

<%= render 'form', box_purchase_order_payment: @box_purchase_order_payment %>

<%= link_to 'Show', @box_purchase_order_payment %> |
<%= link_to 'Back', box_purchase_order_payments_path %>
