<div class="row">
  <div class="col-lg-1"> </div>
    <div class="col-lg-10 panel panel-purchase">
       <div class="white-box">
          <div class="">
        <H1>En proceso de codificación</H1>


        </div>
       </div>
    </div>
  <div class="col-lg-1">

  </div>
</div>
