


<div class="panel panel-primary">
  <div class="panel-heading">Unidades</div>
  <div class="panel-body">
    <%= render partial: 'layouts/partials/search_form', locals: { search_entity: 'units', word: "Unidad", view_kamback: '', view_list: '', url: '', ban: false, url_pdf:'',url_csv:'',url_xls:'' } %>
    <br>
    <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
      <p>
        <%= button_to new_unit_path, {method: :get, class: "btn btn-success"} do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nueva Unidad
        <% end %>
      </p>
    </div>
 
  <div class="col-sm-12">
    <%= render partial: 'results_search' %>
  </div>
    </div>
</div>
