
<div class="panel panel-success">
  <div class="panel-head">Registro de cheque</div>
    <div class="panel-wrapper collapse in" aria-expanded="true">
      <div class="panel-body table-responsive ">
        <div class="table-responsive">
       
        <br>
        <%= link_to 'Registrar', new_check_path , class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
  