
<div class="modal-content">
    <div class="modal-header modal-header-warning"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
        <h2><i class="fas fa-box"></i>  Nueva Devolución </h2>
    </div>
	<%= render 'form', devolution: @devolution %>
</div>