<div class="row bg-title">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h4 class="page-title">Nuevo Traspaso entre Sucursales</h4>
  </div>
  <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
    <%= link_to 'Volver a Traspasos', transfers_path, class: "btn btn-default pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <%= render 'form', transfer: @transfer %>
    </div>
  </div>
</div>
