<div class="modal-content">
  <div class="modal-header modal-header-primary">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
     <h2><i class="far fa-money-bill-alt"></i>   Mis Divisas</h2>
  </div>
  	<br>
  		<%= render 'form', setting_currency_company: @setting_currency_company %> 
 </div>

