<h1>Editing Setting Currency Company</h1>

<%= render 'form', setting_currency_company: @setting_currency_company %>

<%= link_to 'Show', @setting_currency_company %> |
<%= link_to 'Back', setting_currency_companies_path %>
