<div class="modal-content">
    <div class="modal-header modal-header-primary">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> [ × ] </button>
      <h2><i class="fa fa-users"></i> Asignación de cajeros</h2>
    </div>
    	<%= render 'form', box_user: @box_user %>
		

</div>


