
<div class="modal-header modal-header-primary">
	<button aria-hidden="true" class="close" data-dismiss="modal" type="button">X</button>
	<h3>Editando Marca</h3>
</div>
  <%= render 'form', brand: @brand %>
