<div class="">
  <br>
  <div class="row">
    <script type="text/javascript">
      $(document).ready(function() {
        <% if notice.present? %>
            toastr.success('<%= j notice %>');
        <% end %>


        <% if alert.present? %>
            toastr.error('<%= j alert %>');
        <% end %>

      });
    </script>
  </div>
</div>
